indexer.go
config.yaml
output
gomeili
test.json
githubrepo
testdata
fullconfig.yaml
template.yaml
.env
test_auth.go
test_registry.go
notes.md
scratch
betterconfig.yaml
index.yaml
build.sh
meilisearch
data.ms
notes.md
indexer
